Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

fix: local keys are planned for v2
  doc/guide/keys.md
Labels: docs-page, documentation

take some suggestions
  doc/guide/hive-default.md
  doc/guide/parallelism.md
  doc/guide/targeting.md
Labels: docs-page, documentation

grammmamama
  doc/guide/hive-default.md
Labels: docs-page, documentation

collect doc updates from broken spr prs (#136)
  doc/.vitepress/config.ts
  doc/.vitepress/theme/index.ts
  doc/guide/getting-started.md
  doc/guide/hive-default.md
  doc/guide/keys.md
  doc/guide/parallelism.md
  doc/guide/tagging.md
  doc/guide/targeting.md
  doc/guide/wire.md
  doc/package.json
  doc/package.nix
  doc/pnpm-lock.yaml
  doc/reference/meta.md
Labels: docs-page, documentation, javascript, nix

hive.inspect: add hostPlatform to inspect
  runtime/evaluate.nix
  wire/lib/src/hive/node.rs
Labels: nix, rust

name version in main 0.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  doc/guide/targeting.md
  doc/package.json
  wire/cli/src/cli.rs
Labels: docs-page, documentation, javascript, rust

Default on Node only for tests
  wire/lib/src/hive/node.rs
Labels: rust

Default on Node only for tests
  wire/lib/src/hive/node.rs
Labels: rust

agent: support multiple architectures
  wire/agent/default.nix
  wire/cli/default.nix
  wire/lib/src/hive/key.rs
  wire/lib/src/hive/node.rs
Labels: nix, rust

GHA: add aarch64 qemu vm for nix
  .github/workflows/build.yml
  .github/workflows/pr-preview.yml
Labels: github_actions, github / ci / meta

agent: use clap for CLI parsing
  Cargo.lock
  wire/agent/Cargo.toml
  wire/agent/src/main.rs
  wire/lib/src/hive/key.rs
Labels: rust

tag v0.2.0
  CHANGELOG.md
Labels: none

initial magic rollback framework
  wire/agent/build.rs
  wire/agent/src/cli.rs
  wire/agent/src/lib.rs
  wire/agent/src/main.rs
  wire/agent/src/models.proto
Labels: rust

add initial stdin reading logic
  Cargo.lock
  wire/cli/Cargo.toml
  wire/cli/src/main.rs
Labels: rust

add node piping behavior
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
Labels: rust

node-piping: support multiple delimiters
  wire/cli/src/main.rs
Labels: rust

Update Changelog
  CHANGELOG.md
Labels: none

chore: fmt with new rustfmt version
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/lib/src/hive/key.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/hive/steps/push.rs
  wire/lib/src/nix.rs
  wire/lib/src/nix_log.rs
Labels: rust

compile all linux platforms for key agent
  flake.lock
  flake.nix
  runtime/module.nix
  wire/cli/default.nix
  wire/lib/src/hive/key.rs
  wire/lib/src/hive/node.rs
Labels: nix, rust

add qemu to build.yml
  .github/workflows/build.yml
Labels: github_actions, github / ci / meta

rename old behaviour to wire-small
  doc/default.nix
  doc/package.nix
  tests/nix/default.nix
  wire/cli/default.nix
Labels: documentation, nix, tests

add changelog
  CHANGELOG.md
Labels: none

fix using full wire in test-opts.nix
  tests/nix/test-opts.nix
Labels: nix, tests

reformat panic message
  wire/lib/src/hive/key.rs
Labels: rust

compile all linux platforms for key agent (#156)
  .github/workflows/build.yml
  CHANGELOG.md
  doc/default.nix
  doc/package.nix
  flake.lock
  flake.nix
  runtime/module.nix
  tests/nix/default.nix
  tests/nix/test-opts.nix
  wire/cli/default.nix
  wire/lib/src/hive/key.rs
  wire/lib/src/hive/node.rs
Labels: documentation, github_actions, github / ci / meta, nix, rust, tests

apt-get update before apt-get install
  .github/workflows/build.yml
Labels: github_actions, github / ci / meta

update pnpm deps
  doc/package.nix
Labels: documentation, nix

split wire and docs build
  .github/workflows/build.yml
Labels: github_actions, github / ci / meta

install qemu on full wire build
  .github/workflows/build.yml
Labels: github_actions, github / ci / meta

add extraplatforms to wire build
  .github/workflows/build.yml
Labels: github_actions, github / ci / meta

add note about wire-small
  CHANGELOG.md
Labels: none

agent: somewhat of a defined structure of the rollback flow
  Cargo.lock
  wire/agent/Cargo.toml
  wire/agent/src/cli.rs
  wire/agent/src/main.rs
  wire/agent/src/models.proto
Labels: rust

github-actions: add multiarch support
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

try nothing-but-nix
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

try without nothing but nix
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

nothing-but-nix
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

require agent to run as root
  wire/agent/src/main.rs
Labels: rust

GHA: add setup-nix composite action
  .github/actions/setup-nix/action.yml
Labels: github / ci / meta

refactor to use the local composite action
  .github/actions/setup-nix/action.yml
  .github/workflows/build.yml
  .github/workflows/follow-nixpkgs.yml
  .github/workflows/pages.yml
  .github/workflows/pr-preview.yml
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

add shell to apt step
  .github/actions/setup-nix/action.yml
Labels: github / ci / meta

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"
