Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

drop nix.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix.rs
Labels: rust

make Hive::new_from_path use new command trait
  wire/cli/src/main.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/elevated.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/nonelevated.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

more robust failure checking for remote commands
  wire/lib/src/commands/elevated.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/steps/activate.rs
Labels: rust

tests: use clobber lock
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/test_support.rs
Labels: rust

ci: continue-on-error for pre-commit
  .github/workflows/autofix.yml
Labels: github_actions, github / ci / meta

way out of scope but update a few tests
  tests/rust/_keys_should_fail/hive.nix
  tests/rust/no_nixpkgs/hive.nix
  wire/lib/src/hive/mod.rs
  wire/lib/src/test_support.rs
Labels: nix, rust, tests

autofix: cache ~/.cargo stuff
  .github/workflows/autofix.yml
Labels: github_actions, github / ci / meta

limit elevated child status race condition
  wire/lib/src/commands/elevated.rs
Labels: rust

remove a bunch of unused errors
  Cargo.lock
  wire/lib/Cargo.toml
  wire/lib/src/errors.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix_log.rs
Labels: rust

condvar to try and prevent more race conditions
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/elevated.rs
  wire/lib/src/commands/nonelevated.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

switch tracing to stderr
  wire/cli/src/tracing_setup.rs
Labels: rust

keep repro
  Cargo.lock
  Cargo.toml
  flake.nix
  nix/utils.nix
  repro/Cargo.toml
  repro/default.nix
  repro/src/main.rs
  tests/nix/suite/test_keys/default.nix
  wire/lib/src/commands/elevated.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/nonelevated.rs
  wire/lib/src/hive/steps/keys.rs
Labels: nix, rust, tests

add non-interactive cli flag
  CHANGELOG.md
  wire/cli/src/cli.rs
  wire/lib/src/commands/elevated.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/nonelevated.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/lib.rs
Labels: rust

switch non elevated log lines to trace
  wire/lib/src/commands/nonelevated.rs
Labels: rust

rename elevated -> interactive
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/lib.rs
Labels: rust

add interactive sudo (#246)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  tests/rust/_keys_should_fail/hive.nix
  tests/rust/no_nixpkgs/hive.nix
  wire/cli/Cargo.toml
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/cli/src/tracing_setup.rs
  wire/lib/Cargo.toml
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/hive/steps/push.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix.rs
  wire/lib/src/nix_log.rs
  wire/lib/src/test_support.rs
Labels: nix, rust, tests

keys with env
  CHANGELOG.md
  runtime/module.nix
  tests/nix/suite/test_keys/default.nix
  tests/nix/suite/test_keys/hive.nix
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/steps/keys.rs
Labels: nix, rust, tests

keys with env (#261)
  CHANGELOG.md
  runtime/module.nix
  tests/nix/suite/test_keys/default.nix
  tests/nix/suite/test_keys/hive.nix
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/steps/keys.rs
Labels: nix, rust, tests

add tests for step order
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/hive/steps/push.rs
  wire/lib/src/test_macros.rs
  wire/lib/src/test_support.rs
Labels: rust

enable --tests on clippy precommit
  nix/hooks.nix
Labels: nix

fix a few should_execute bugs
  CHANGELOG.md
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/push.rs
Labels: rust

explicitly set build_remotely = false in local build test
  wire/lib/src/hive/node.rs
Labels: rust

name badges to reflect buildbot
  README.md
  doc/guide/wire.md
Labels: docs-page, documentation

move fix changelog
  CHANGELOG.md
Labels: none

drop old pre-commit test job
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

dont impl deref lol
  wire/lib/src/hive/node.rs
Labels: rust

use enum_dispatch
  Cargo.lock
  wire/lib/Cargo.toml
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/hive/steps/push.rs
Labels: rust

remove clippy too_many_lines allow
  wire/lib/src/hive/node.rs
Labels: rust

error codes snake_case
  wire/lib/src/errors.rs
Labels: rust

rename "detached errors" to simply "command errors"
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

add tests for step order & use enum_dispatch for steps (#264)
  CHANGELOG.md
  Cargo.lock
  wire/lib/Cargo.toml
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/hive/steps/push.rs
  wire/lib/src/test_macros.rs
  wire/lib/src/test_support.rs
Labels: rust

impl Display for Step
  wire/lib/src/hive/node.rs
Labels: rust

do not clear env for key command
  wire/lib/src/hive/steps/keys.rs
Labels: rust

bump changelog
  CHANGELOG.md
Labels: none

bump package versions to 0.6.0
  CHANGELOG.md
  Cargo.toml
  doc/package.json
Labels: documentation, javascript, rust

disable trace! logs on release builds
  CHANGELOG.md
  Cargo.toml
  wire/cli/default.nix
Labels: nix, rust

only compile `markdown_help` in debug builds
  doc/default.nix
  doc/package.nix
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
Labels: documentation, nix, rust

fix typo in changelog
  CHANGELOG.md
Labels: none

add --ssh-accept-host argument
  wire/cli/src/cli.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/hive/steps/push.rs
  wire/lib/src/lib.rs
Labels: rust

autofix: upgrade hash last to avoid dirty files
  .github/workflows/autofix.yml
Labels: github_actions, github / ci / meta

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"
