Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

move changelog to unreleased
  CHANGELOG.md
Labels: none

initial switch to miette
  Cargo.lock
  Cargo.toml
  wire/cli/Cargo.toml
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/lib/src/lib.rs
Labels: rust

split wire::Key::SpawningCommand into two errors
  wire/lib/src/hive/steps/keys.rs
Labels: rust

add ActivationError and update KeyError
  wire/cli/src/apply.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/lib.rs
Labels: rust

clean up a lot of errors
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix.rs
Labels: rust

error subenums proof of concept
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix.rs
Labels: rust

fooling around
  Cargo.lock
  wire/cli/default.nix
  wire/lib/Cargo.toml
  wire/lib/build.rs
Labels: nix, rust

meow
  doc/.vitepress/config.ts
  doc/default.nix
  doc/package.nix
  doc/reference/errors.md
  wire/cli/default.nix
  wire/cli/src/apply.rs
  wire/lib/build.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix.rs
Labels: docs-page, documentation, javascript, nix, rust

remove first character from doc string
  wire/lib/build.rs
Labels: rust

remove testing doc string
  wire/lib/src/errors.rs
Labels: rust

add change log
  CHANGELOG.md
Labels: none

fix tests
  wire/lib/src/hive/mod.rs
Labels: rust

remove unused Metadata import build.rs
  wire/lib/build.rs
Labels: rust

add miette to lib
  wire/lib/Cargo.toml
Labels: rust

remove unneeded actions now we have hydra (#225)
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

Create hydra.yml
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Potential fix for code scanning alert no. 39: Workflow does not contain permissions
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Update hydra.yml
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Update hydra.yml
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Update hydra.yml
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

wait for a status not for an action
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Update hydra.yml
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Update hydra.yml
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Update hydra.yml
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Update hydra.yml
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

wait for hydra action (#227)
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

switch to miette + rehaul errors (#209)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  doc/.vitepress/config.ts
  doc/default.nix
  doc/package.nix
  doc/reference/errors.md
  wire/cli/Cargo.toml
  wire/cli/default.nix
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/lib/Cargo.toml
  wire/lib/build.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix.rs
Labels: docs-page, documentation, javascript, nix, rust

russh sketch
  Cargo.lock
  wire/lib/Cargo.toml
  wire/lib/src/errors.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/lib.rs
  wire/lib/src/ssh.rs
Labels: rust

provide statuses: write permissions directly
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Revert "provide statuses: write permissions directly"
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

remove random test logs
  wire/cli/src/main.rs
Labels: rust

reduce fileset of injectedFlakeDir
  tests/nix/default.nix
Labels: nix, tests

add guide/caveats/root.md
  doc/.vitepress/config.ts
  doc/guide/caveats/key.png
  doc/guide/caveats/root.md
  doc/guide/tailscale.md
Labels: docs-page, documentation, javascript

typos
  doc/guide/caveats/root.md
Labels: docs-page, documentation

hydra.yml: use github.event.number directly
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Update CODEOWNERS for more lock files
  .github/CODEOWNERS
Labels: github / ci / meta

hydra.yml: use pull_request_target
  .github/workflows/hydra.yml
Labels: github_actions, github / ci / meta

Update main.rs
  wire/cli/src/main.rs
Labels: rust

update badges
  README.md
Labels: none

fix "Tests" typo
  README.md
Labels: none

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"
