Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"

use a semaphore for clobber lock
  wire/cli/src/tracing_setup.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/lib.rs
Labels: rust

use oneshot instead of notify
  wire/lib/src/commands/interactive.rs
  wire/lib/src/errors.rs
Labels: rust

interactive: use channels instead of condvar
  wire/lib/src/commands/interactive.rs
Labels: rust

use tokio spawn blocking
  wire/lib/src/commands/interactive.rs
Labels: rust

make needles their own struct
  wire/lib/src/commands/interactive.rs
Labels: rust

add doc comments to more int funcs
  wire/lib/src/commands/interactive.rs
Labels: rust

refactor int runner into its own module
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/pty/input.rs
  wire/lib/src/commands/pty/logbuffer.rs
  wire/lib/src/commands/pty/mod.rs
  wire/lib/src/commands/pty/output.rs
Labels: rust

fix is_elevated()
  wire/lib/src/commands/pty/mod.rs
Labels: rust

a little int runner cleanup (#342)
  wire/cli/src/tracing_setup.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/pty/input.rs
  wire/lib/src/commands/pty/logbuffer.rs
  wire/lib/src/commands/pty/mod.rs
  wire/lib/src/commands/pty/output.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/lib.rs
Labels: rust

small doc updates
  doc/guides/apply.md
  doc/guides/flakes/nixos-rebuild.md
  doc/guides/flakes/overview.md
  doc/guides/parallelism.md
  doc/guides/targeting.md
  doc/tutorial/overview.md
Labels: documentation

fix non-root user example username
  doc/guides/non-root-user.md
Labels: documentation

update installation details
  doc/guides/installation.md
  doc/snippets/guides/installation/flake.lock
  doc/snippets/guides/installation/flake.nix
  doc/snippets/guides/installation/hive.nix
Labels: documentation, nix
