Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

add show as an alias for inspect
  CHANGELOG.md
  wire/cli/src/cli.rs
Labels: rust

fix doc hash
  doc/package.nix
Labels: documentation, nix

remove Log command as there are currently no plans to implement the feature
  CHANGELOG.md
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
Labels: rust

The `completions` command is now hidden from the help page
  CHANGELOG.md
  wire/cli/src/cli.rs
Labels: rust

test against unstable and current stable (#176)
  CHANGELOG.md
  doc/guide/getting-started.md
  flake.lock
  flake.nix
  tests/nix/default.nix
  tests/nix/suite/test_local_deploy/default.nix
  tests/nix/suite/test_local_deploy/hive.nix
  tests/nix/suite/test_remote_deploy/default.nix
  tests/nix/suite/test_remote_deploy/hive.nix
Labels: docs-page, documentation, nix, tests

remove unused PushKeys trait
  wire/lib/src/hive/steps/keys/remote.rs
Labels: rust

rename key/ Error to KeyError
  wire/lib/src/hive/steps/keys/mod.rs
  wire/lib/src/hive/steps/keys/remote.rs
  wire/lib/src/lib.rs
Labels: rust

refactor existing remote key push out into keys/
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/keys/mod.rs
  wire/lib/src/hive/steps/keys/remote.rs
  wire/lib/src/hive/steps/mod.rs
  wire/lib/src/lib.rs
Labels: rust

implement local keys
  Cargo.lock
  Cargo.toml
  wire/key_agent/Cargo.toml
  wire/lib/Cargo.toml
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys/mod.rs
  wire/lib/src/hive/steps/keys/remote.rs
Labels: rust

move keys/ back into keys.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/keys/mod.rs
Labels: rust

remove unused KeyError variant
  wire/lib/src/hive/steps/keys.rs
Labels: rust

pattern match should_execute
  wire/lib/src/hive/steps/keys.rs
Labels: rust

rename key moment to filter
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

remove redundant should_execute function
  wire/lib/src/hive/steps/keys.rs
Labels: rust

add changelog note
  CHANGELOG.md
Labels: none

tests for local keys
  tests/nix/default.nix
  tests/nix/suite/test_keys/default.nix
  tests/nix/suite/test_keys/file.txt
  tests/nix/suite/test_keys/hive.nix
  tests/nix/suite/test_remote_deploy/default.nix
  tests/nix/suite/test_remote_deploy/hive.nix
Labels: nix, tests

ensure that ripgrep is available in key test
  tests/nix/suite/test_keys/hive.nix
  tests/nix/suite/utils.nix
  tests/nix/test-opts.nix
  tests/nix/tools.py
Labels: nix, tests

Revert "update cargo.lock"
  Cargo.lock
Labels: rust

fix cargo.lock
  Cargo.lock
Labels: rust

fix test imports
  wire/lib/src/hive/mod.rs
Labels: rust

update cargo.lock
  Cargo.lock
Labels: rust

fix tests
  tests/nix/suite/test_keys/default.nix
  tests/nix/suite/test_keys/hive.nix
  tests/nix/test-opts.nix
Labels: nix, tests

add @IDENT@ to test_keys
  tests/nix/suite/test_keys/hive.nix
Labels: nix, tests

remove redundant prefix on check names
  .github/workflows/test.yml
  tests/nix/default.nix
Labels: github_actions, github / ci / meta, nix, tests

repair lockfile again
  Cargo.lock
Labels: rust

repair flake.lock
  flake.lock
Labels: none

use correct flake.checks prefix in utils.nix
  tests/nix/suite/utils.nix
Labels: nix, tests

use TEST_DIR in test_keys test
  tests/nix/suite/test_keys/default.nix
Labels: nix, tests

add deploymeny.keys.environment and give a clean environment by default
  CHANGELOG.md
  runtime/module.nix
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/steps/keys.rs
Labels: nix, rust

remove myself from CODEOWNERS
  .github/CODEOWNERS
Labels: github / ci / meta

remove myself from CODEOWNERS (#184)
  .github/CODEOWNERS
Labels: github / ci / meta

skip nonhive nixosconfigurations (#115)
  Cargo.lock
  runtime/evaluate.nix
  tests/rust/flake_hive/flake.lock
  tests/rust/flake_hive/flake.nix
  wire/lib/Cargo.toml
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/lib.rs
  wire/lib/src/test_support.rs
Labels: nix, rust, tests

fmt conflict resolution
  wire/lib/src/hive/mod.rs
Labels: rust

fix another case of not using {TEST_DIR}
  tests/nix/suite/test_keys/default.nix
Labels: nix, tests

allow the agent to be ran locally (#175)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  tests/nix/default.nix
  tests/nix/suite/test_keys/default.nix
  tests/nix/suite/test_keys/file.txt
  tests/nix/suite/test_keys/hive.nix
  tests/nix/suite/test_remote_deploy/default.nix
  tests/nix/suite/test_remote_deploy/hive.nix
  tests/nix/suite/utils.nix
  tests/nix/test-opts.nix
  tests/nix/tools.py
  wire/key_agent/Cargo.toml
  wire/lib/Cargo.toml
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/mod.rs
  wire/lib/src/lib.rs
Labels: nix, rust, tests

use --replace-fail
  tests/nix/default.nix
Labels: nix, tests

use --replace-fail (#185)
  tests/nix/default.nix
Labels: nix, tests

update changelog for 0.3.0
  CHANGELOG.md
Labels: none

bump version for main
  Cargo.lock
  Cargo.toml
  doc/package.json
Labels: documentation, javascript, rust

feat: wire will now ping the node at the start of the execute procedure
  CHANGELOG.md
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/mod.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/lib.rs
Labels: rust

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"
