Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"

add nodejs to shell.nix
  nix/shells.nix
Labels: nix

implement `deployment.target.hosts`
  CHANGELOG.md
  runtime/module.nix
  wire/cli/src/apply.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/lib.rs
Labels: nix, rust

use Target::from_host in more places
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
Labels: rust

add unreachable hosts in test_remote_deploy
  tests/nix/suite/test_remote_deploy/default.nix
  tests/nix/suite/test_remote_deploy/hive.nix
Labels: nix, tests

implement `deployment.target.hosts` (#186)
  CHANGELOG.md
  runtime/module.nix
  tests/nix/suite/test_remote_deploy/default.nix
  tests/nix/suite/test_remote_deploy/hive.nix
  wire/cli/src/apply.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/lib.rs
Labels: nix, rust, tests

allow nodes to fail without bringing down the whole process
  CHANGELOG.md
  wire/cli/src/apply.rs
Labels: rust

switch to a makeHive model
  flake.nix
  justfile
  nix/shells.nix
  nix/utils.nix
  runtime/evaluate.nix
  tests/rust/_keys_should_fail/hive.nix
  tests/rust/default_values_match/hive.nix
  tests/rust/flake_hive/flake.nix
  tests/rust/makeHive.nix
  tests/rust/non_trivial_hive/hive.nix
  tests/rust/test_hive_dot_nix_priority/hive.nix
  tests/rust/test_hive_file/hive.nix
  wire/cli/default.nix
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/nix.rs
  wire/lib/src/test_support.rs
Labels: nix, rust, tests

update changelog
  CHANGELOG.md
Labels: none

update vm tests to use makeHive
  tests/nix/suite/test_keys/hive.nix
  tests/nix/suite/test_local_deploy/hive.nix
  tests/nix/suite/test_remote_deploy/hive.nix
  tests/nix/suite/utils.nix
Labels: nix, tests

remote old arguments to evaluateHive in test lib
  tests/nix/default.nix
Labels: nix, tests

delete tests/rust/makeHive.nix
  tests/rust/_keys_should_fail/hive.nix
  tests/rust/default_values_match/hive.nix
  tests/rust/makeHive.nix
  tests/rust/non_trivial_hive/hive.nix
  tests/rust/test_hive_dot_nix_priority/hive.nix
  tests/rust/test_hive_file/hive.nix
Labels: nix, tests

remove unnecessary makeHive inside testing default.nix
  tests/nix/default.nix
Labels: nix, tests

remove unnecessary comment in inspect
  runtime/evaluate.nix
Labels: nix

use makeHive in doc guide
  doc/guide/getting-started.md
  doc/guide/hive-default.md
  doc/guide/keys.md
  doc/guide/targeting.md
Labels: docs-page, documentation

unexpose getTopLevel in favor of attrset
  runtime/evaluate.nix
  wire/lib/src/nix.rs
Labels: nix, rust

unexpose evaluateNode
  runtime/evaluate.nix
Labels: nix

begin tracking hive schema versions
  runtime/evaluate.nix
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/lib.rs
Labels: nix, rust

update documentation for meta.nixpkgs
  doc/reference/meta.md
Labels: docs-page, documentation

fix passing nixosConfigurations twice.
  flake.nix
  tests/rust/flake_hive/flake.lock
  tests/rust/flake_hive/flake.nix
Labels: nix, tests

deduplicate makeHive definition across tests and root flake
  flake.nix
  runtime/makeHive.nix
  tests/rust/flake_hive/flake.nix
  wire/lib/src/test_support.rs
Labels: nix, rust, tests

add link to npins
  doc/guide/getting-started.md
Labels: docs-page, documentation

fix broken link to nix issue
  doc/guide/getting-started.md
Labels: docs-page, documentation

switch to a makeHive model (#187)
  CHANGELOG.md
  doc/guide/getting-started.md
  doc/guide/hive-default.md
  doc/guide/keys.md
  doc/guide/targeting.md
  doc/reference/meta.md
  flake.nix
  justfile
  nix/shells.nix
  nix/utils.nix
  runtime/evaluate.nix
  runtime/makeHive.nix
  tests/nix/default.nix
  tests/nix/suite/test_keys/hive.nix
  tests/nix/suite/test_local_deploy/hive.nix
  tests/nix/suite/test_remote_deploy/hive.nix
  tests/nix/suite/utils.nix
  tests/rust/_keys_should_fail/hive.nix
  tests/rust/default_values_match/hive.nix
  tests/rust/flake_hive/flake.lock
  tests/rust/flake_hive/flake.nix
  tests/rust/non_trivial_hive/hive.nix
  tests/rust/test_hive_dot_nix_priority/hive.nix
  tests/rust/test_hive_file/hive.nix
  wire/cli/default.nix
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix.rs
  wire/lib/src/test_support.rs
Labels: docs-page, documentation, nix, rust, tests

rename flake output from colmena to wire
  CHANGELOG.md
  tests/rust/flake_hive/flake.nix
  wire/lib/src/nix.rs
Labels: nix, rust, tests

reframe the goal of the project
  README.md
  doc/guide/wire.md
Labels: docs-page, documentation

add doc string for allowLocalDeployment
  runtime/module.nix
Labels: nix

mention Hive::SCHEMA_VERSION in -V
  Cargo.toml
  wire/cli/src/cli.rs
  wire/lib/src/hive/mod.rs
Labels: rust

remove incorrect information about omitting meta.nixpkgs
  doc/reference/meta.md
Labels: docs-page, documentation

remove outdated warning about local keys being unimplemented
  doc/guide/keys.md
Labels: docs-page, documentation

stop hashing more files than we need to for test caching
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

bump cache
  doc/package.nix
Labels: documentation, nix

match tracing-indicatif with indicatif
  Cargo.lock
  Cargo.toml
Labels: rust

update CHANGELOG for 0.4.0
  CHANGELOG.md
Labels: none

update package version
  Cargo.lock
  Cargo.toml
  doc/package.json
Labels: documentation, javascript, rust

update hash
  doc/package.nix
Labels: documentation, nix

add fetcherVersion to docs package
  doc/package.nix
Labels: documentation, nix

nix fmt
  runtime/evaluate.nix
  tests/nix/default.nix
Labels: nix, tests

a small little first draft
  doc/.vitepress/config.ts
  doc/guide/flakes.md
  doc/snippets/getting-started/flake-merged.nix
  doc/snippets/getting-started/flake.nix
Labels: docs-page, documentation, javascript, nix

bring flake docs up to date with makeHive
  doc/guide/flakes.md
  doc/snippets/getting-started/flake-merged.nix
  doc/snippets/getting-started/flake.nix
Labels: docs-page, documentation, nix

stop pretty printing `wire inspect --json`
  CHANGELOG.md
  wire/cli/src/main.rs
Labels: rust
