Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

heap alloc flakeref in TypeUnsupported errors
  wire/lib/src/errors.rs
  wire/lib/src/hive/mod.rs
Labels: rust

add note about service property in guides
  doc/guides/keys.md
Labels: documentation

update test_keys test
  tests/nix/suite/test_keys/default.nix
Labels: nix, tests

add key services (#305)
  CHANGELOG.md
  doc/guides/keys.md
  doc/options.nix
  doc/package.nix
  flake.nix
  runtime/evaluate.nix
  runtime/module/config.nix
  runtime/module/default.nix
  runtime/module/options.nix
  tests/nix/suite/test_keys/default.nix
  tests/nix/suite/test_keys/hive.nix
  wire/lib/src/test_support.rs
Labels: documentation, nix, rust, tests

update CHANGELOG.md
  CHANGELOG.md
Labels: none

move cargo tests to a seperate binary
  .github/workflows/test.yml
  flake.nix
  nix/tests.nix
Labels: github_actions, github / ci / meta, nix

fix output name
  flake.nix
  nix/tests.nix
Labels: nix

set -e
  nix/tests.nix
Labels: nix

fix wire test dir in test.yml
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

build not run
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

move cargo tests to a seperate binary (#308)
  .github/workflows/test.yml
  flake.nix
  nix/tests.nix
Labels: github_actions, github / ci / meta, nix

rename repo location
  README.md
  doc/.vitepress/config.ts
  doc/.vitepress/theme/index.ts
  doc/guides/installation.md
  doc/snippets/getting-started/configuration.nix
  doc/snippets/getting-started/flake-merged.nix
  doc/snippets/getting-started/flake.nix
  doc/snippets/getting-started/hm.flake.nix
  doc/snippets/getting-started/home.nix
  doc/snippets/getting-started/nixos.flake.nix
  doc/snippets/guides/installation/flake.nix
  doc/tutorial/part-one/repo-setup.md
  wire/lib/src/hive/steps/keys.rs
Labels: documentation, javascript, nix, rust

pin flake nixpkgs by default
  runtime/evaluate.nix
Labels: nix

accept meta.nixpkgs with `outPath`
  CHANGELOG.md
  runtime/evaluate.nix
Labels: nix

add changelog note
  CHANGELOG.md
Labels: none

fix typo in changelog
  CHANGELOG.md
Labels: none

pin flake nixpkgs by default (#309)
  CHANGELOG.md
  runtime/evaluate.nix
Labels: nix

strip ascii codes in nix logs
  Cargo.lock
  wire/lib/Cargo.toml
  wire/lib/src/nix_log.rs
Labels: rust

fix order of needles
  wire/lib/src/commands/interactive.rs
Labels: rust

CommandArguments builder pattern
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

cleanup interactive run_command_with_env a bit
  wire/lib/src/commands/interactive.rs
Labels: rust

refactor WireCommand trait out
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

reverse log collections
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/noninteractive.rs
Labels: rust

stop passing paths that end with "flake.nix" as a flake
  wire/lib/src/hive/mod.rs
Labels: rust

refactor WireCommand trait out
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

CommandArguments builder pattern
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

reverse log collections
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/noninteractive.rs
Labels: rust

stop passing paths that end with "flake.nix" as a flake
  wire/lib/src/hive/mod.rs
Labels: rust

fix order of needles
  wire/lib/src/commands/interactive.rs
Labels: rust

cleanup interactive run_command_with_env a bit
  wire/lib/src/commands/interactive.rs
Labels: rust

increase LogMessage variants we log
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/nix_log.rs
Labels: rust

fix noninteractive log span parent
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/noninteractive.rs
Labels: rust

reduce command instruments to debug
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/noninteractive.rs
Labels: rust

clippy fix
  wire/lib/src/commands/common.rs
Labels: rust

increase Raw logs to WARN by default.
  wire/lib/src/nix_log.rs
Labels: rust

strip potential junk in front of `@nix`
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
Labels: rust

interactive: fix bug for not passing command string to in builder
  wire/lib/src/commands/interactive.rs
Labels: rust

trace! evaluate_hive_attribute output
  wire/lib/src/commands/common.rs
  wire/lib/src/hive/mod.rs
Labels: rust

set_profile: only run on Switch or Boot
  wire/lib/src/hive/steps/activate.rs
Labels: rust

attempt to use SSH ControlMaster whenever possible
  CHANGELOG.md
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/cleanup.rs
  wire/lib/src/hive/steps/mod.rs
  wire/lib/src/lib.rs
Labels: rust

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"
