Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"

enforce stricter ssh key host checking
  wire/lib/src/hive/node.rs
Labels: rust

cleanup more pages
  doc/.vitepress/config.ts
  doc/guides/flakes/nixos-rebuild.md
  doc/guides/flakes/overview.md
  doc/tutorial/overview.md
  doc/tutorial/part-two/basic-keys.md
  doc/tutorial/part-two/encryption.md
Labels: documentation, javascript

more changes
  CHANGELOG.md
  doc/.vitepress/config.ts
  doc/tutorial/overview.md
  doc/tutorial/part-one/repo-setup.md
  doc/tutorial/part-one/vm-setup.md
  doc/tutorial/part-two/basic-keys.md
  doc/tutorial/part-two/encryption.md
Labels: documentation, javascript

even more changes
  doc/.vitepress/config.ts
  doc/guides/apply.md
  doc/guides/hive-default.md
  doc/guides/installation.md
  doc/guides/keys.md
  doc/guides/parallelism.md
  doc/guides/targeting.md
  doc/tutorial/part-one/nix-setup.md
Labels: documentation, javascript

fix some dead links
  doc/guides/apply.md
  doc/guides/wire.md
  doc/tutorial/overview.md
Labels: documentation

add tutorial and rearrange guides (#286)
  CHANGELOG.md
  README.md
  doc/.vitepress/config.ts
  doc/guide/getting-started.md
  doc/guide/magic-rollback.md
  doc/guide/tailscale.md
  doc/guide/wire.md
  doc/guides/apply.md
  doc/guides/flakes/nixos-rebuild.md
  doc/guides/flakes/overview.md
  doc/guides/hive-default.md
  doc/guides/installation.md
  doc/guides/keys.md
  doc/guides/parallelism.md
  doc/guides/targeting.md
  doc/index.md
  doc/package.nix
  doc/pnpm-lock.yaml
  doc/snippets/getting-started/cache.nix
  doc/snippets/getting-started/nix.conf
  doc/snippets/tutorial/extra-experimental-features.conf
  doc/snippets/tutorial/extra-experimental-features.nix
  doc/tutorial/overview.md
  doc/tutorial/part-one/basic-hive.md
  doc/tutorial/part-one/nix-setup.md
  doc/tutorial/part-one/repo-setup.md
  doc/tutorial/part-one/vm-setup.md
  doc/tutorial/part-two/basic-keys.md
  doc/tutorial/part-two/encryption.md
Labels: docs-page, documentation, javascript, nix

fix not setting `last` when sending a single key
  wire/lib/src/hive/steps/keys.rs
Labels: rust

interactive can now be non elevated
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

make interactive respect `elevated`
  wire/lib/src/commands/noninteractive.rs
Labels: rust

force NonInteractive to generate non interactive ssh
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
Labels: rust

use a struct to handle command arguments
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

allow errors.rs unused_assignments
  wire/lib/src/errors.rs
Labels: rust

add --non-interactive specific test
  tests/nix/suite/test_remote_deploy/default.nix
Labels: nix, tests

switch away from nextest
  .github/workflows/test.yml
  flake.nix
  nix/checks.nix
  nix/shells.nix
Labels: github_actions, github / ci / meta, nix

default SubCommandModifiers w/ is_terminal
  wire/lib/src/lib.rs
Labels: rust

allow interactive to be non elevated (#302)
  .github/workflows/test.yml
  flake.nix
  nix/checks.nix
  nix/shells.nix
  tests/nix/suite/test_remote_deploy/default.nix
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/lib.rs
Labels: github_actions, github / ci / meta, nix, rust, tests

remove RawError variant
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/nix_log.rs
Labels: rust

add install wire docs page
  doc/guides/installation.md
  doc/snippets/guides/installation/flake.lock
  doc/snippets/guides/installation/flake.nix
  doc/snippets/guides/installation/shell.nix
  doc/tutorial/part-one/nix-setup.md
Labels: documentation, nix

update titles of 2 how-to guides pages
  doc/guides/flakes/nixos-rebuild.md
  doc/guides/flakes/overview.md
Labels: documentation

update description of Manage Secrets page
  doc/guides/keys.md
Labels: documentation

use snix nix_compat + derive
  Cargo.lock
  wire/lib/Cargo.toml
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/nix_log.rs
Labels: rust

allow non-msg but raw logs to be passed through
  wire/lib/src/commands/mod.rs
Labels: rust

improve logging in various ways
  CHANGELOG.md
  wire/cli/src/apply.rs
  wire/cli/src/tracing_setup.rs
  wire/key_agent/src/main.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
Labels: rust

Update README to reference tutorial and guides
  README.md
Labels: none

switch flake compat to lix flake-compat
  default.nix
  flake.lock
  flake.nix
Labels: nix

show original command in command errors
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/noninteractive.rs
Labels: rust

rename find_hive to be get_hive_location
  wire/cli/src/main.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/test_macros.rs
Labels: rust

add --flake alias
  CHANGELOG.md
  wire/cli/src/cli.rs
Labels: rust

use flakeref
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  wire/cli/Cargo.toml
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/lib/Cargo.toml
  wire/lib/src/commands/common.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/evaluate.rs
Labels: rust

reorder find_hive to make more sense
  wire/lib/src/hive/mod.rs
Labels: rust

fix tests & bugs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/test_macros.rs
Labels: rust

clippy fixup
  wire/lib/src/hive/mod.rs
Labels: rust

update tests
  runtime/module/config.nix
  runtime/module/options.nix
  tests/nix/suite/test_keys/default.nix
  tests/nix/suite/test_keys/hive.nix
Labels: nix, tests

fix fstring without variables
  tests/nix/suite/test_keys/default.nix
Labels: nix, tests

add key services
  runtime/module.nix
Labels: nix

split module into config.nix and options.nix
  doc/options.nix
  doc/package.nix
  flake.nix
  runtime/evaluate.nix
  runtime/module/config.nix
  runtime/module/default.nix
  runtime/module/options.nix
  wire/lib/src/test_support.rs
Labels: documentation, nix, rust

add tests for key services
  tests/nix/suite/test_keys/default.nix
Labels: nix, tests

use .paths
  runtime/module.nix
  tests/nix/suite/test_keys/default.nix
Labels: nix, tests

add changelog note
  CHANGELOG.md
Labels: none

let --path accept flakeref (#307)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  wire/cli/Cargo.toml
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/lib/Cargo.toml
  wire/lib/src/commands/common.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/evaluate.rs
  wire/lib/src/test_macros.rs
Labels: rust
