Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"

try to fix github limitation
  .github/actions/setup-nix/action.yml
Labels: github / ci / meta

put this in the QEMU step instead
  .github/actions/setup-nix/action.yml
Labels: github / ci / meta

add shell
  .github/actions/setup-nix/action.yml
Labels: github / ci / meta

update hash
  doc/package.nix
Labels: documentation, nix

Deduplicate GitHub Actions (#167)
  .github/actions/setup-nix/action.yml
  .github/workflows/build.yml
  .github/workflows/follow-nixpkgs.yml
  .github/workflows/pages.yml
  .github/workflows/pr-preview.yml
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

github-actions: set hatchet-protocol to carve for docs
  .github/actions/setup-nix/action.yml
Labels: github / ci / meta

set --no-progress automatically when non-interactive
  CHANGELOG.md
  wire/cli/src/cli.rs
Labels: rust

various wire qemu platform fixes & drop aarch
  .github/actions/setup-nix/action.yml
  .github/workflows/build.yml
Labels: github_actions, github / ci / meta

delay flake updates to every month
  .github/workflows/follow-nixpkgs.yml
Labels: github_actions, github / ci / meta

set --no-progress automatically when non-interactive (#169)
  CHANGELOG.md
  wire/cli/src/cli.rs
Labels: rust

fix: refer to correct input for cachix token
  .github/actions/setup-nix/action.yml
Labels: github / ci / meta

fix: qemu build issues
  .github/actions/setup-nix/action.yml
Labels: github / ci / meta

are booleans really strings now
  .github/actions/setup-nix/action.yml
Labels: github / ci / meta

remove incorrect WIRE_KEY_AGENT env without a architecture
  wire/cli/default.nix
Labels: nix

give key_agent a more descriptive name
  wire/key_agent/default.nix
Labels: nix

test against unstable and current stable
  CHANGELOG.md
  doc/guide/getting-started.md
  flake.lock
  flake.nix
  tests/nix/default.nix
  tests/nix/suite/test_local_deploy/default.nix
  tests/nix/suite/test_local_deploy/hive.nix
  tests/nix/suite/test_remote_deploy/default.nix
  tests/nix/suite/test_remote_deploy/hive.nix
Labels: docs-page, documentation, nix, tests

remove old input from flake.nix
  flake.nix
Labels: nix

update changelog
  CHANGELOG.md
Labels: none

fix referring to old pr number
  CHANGELOG.md
Labels: none

fix: non existent user/group would not default to uid/gid 0
  CHANGELOG.md
  wire/key_agent/src/main.rs
Labels: rust

enable derive_more display feature
  wire/lib/Cargo.toml
Labels: rust

use named arguments in error messages
  wire/lib/src/lib.rs
Labels: rust

fix derive_more-impl lock
  Cargo.lock
Labels: rust

return to compiling aarch64-linux
  .github/workflows/build.yml
Labels: github_actions, github / ci / meta

chore: bump package version in anticipation
  Cargo.toml
  doc/package.json
Labels: documentation, javascript, rust

chore: lock package update
  Cargo.lock
Labels: rust

chore: update nix flake lock
  flake.lock
Labels: none

enable print-build-logs on most builds
  .github/workflows/build.yml
Labels: github_actions, github / ci / meta

turn test flake.lock into a hardlink
  tests/rust/flake_hive/flake.lock
Labels: tests

skip nixos configurations that don't appear in the hive
  Cargo.lock
  tests/rust/flake_hive/flake.lock
  tests/rust/flake_hive/flake.nix
  wire/lib/Cargo.toml
  wire/lib/src/hive/mod.rs
  wire/lib/src/lib.rs
  wire/lib/src/test_support.rs
Labels: nix, rust, tests

skip nixos configurations that don't appear in the hive
  runtime/evaluate.nix
  tests/rust/flake_hive/flake.nix
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
Labels: nix, rust, tests

update flake hive test
  tests/rust/flake_hive/flake.nix
  wire/lib/src/hive/mod.rs
  wire/lib/src/test_support.rs
Labels: nix, rust, tests

remove stray comment
  runtime/evaluate.nix
Labels: nix

bump hash
  doc/package.nix
Labels: documentation, nix

bump cargo.lock
  Cargo.lock
Labels: rust

update clap-verbosity-flag
  Cargo.lock
  Cargo.toml
Labels: rust

bump pnpm-lock.yaml
  doc/pnpm-lock.yaml
Labels: documentation, javascript

allow clippy::missing_errors_doc
  wire/lib/src/lib.rs
Labels: rust

add error for parsing internal evaluate.nix output
  CHANGELOG.md
  wire/lib/src/hive/mod.rs
  wire/lib/src/lib.rs
Labels: rust

allow clippy::missing_panics_doc
  wire/lib/src/lib.rs
Labels: rust
