Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

update docs shields
  doc/guide/wire.md
Labels: docs-page, documentation

use pr.head.repo.ssh_url in pr jobset flake
  jobsets.nix
Labels: nix

use pr.head.repo.full_name instead of ssh_url silly me
  jobsets.nix
Labels: nix

force fork's sha to be from within the context of the parent repo
  jobsets.nix
Labels: nix

Update main.rs
  wire/cli/src/main.rs
Labels: rust

switch build stuff to buildbot
  .github/workflows/hydra.yml
  flake.nix
  jobsets.nix
  nix/checks.nix
  spec.json
Labels: github_actions, github / ci / meta, nix

use buildbot-nix.toml and `hydraJobs`
  buildbot-nix.toml
  flake.nix
  nix/checks.nix
Labels: nix

chore
  doc/package.nix
Labels: documentation, nix

ci: Automatically update package.nix hash
  .github/workflows/dependabot-docs.yml
  doc/upgrade.sh
Labels: documentation, github_actions, github / ci / meta

golf a little
  .github/workflows/dependabot-docs.yml
Labels: github_actions, github / ci / meta

limit dependabot-docs.yml to pull_request
  .github/workflows/dependabot-docs.yml
Labels: github_actions, github / ci / meta

ci: fix typo in upgrade script path
  .github/workflows/dependabot-docs.yml
Labels: github_actions, github / ci / meta

fix a few sed bugs in upgrade.sh
  doc/upgrade.sh
Labels: documentation

add `ref` to hash renovate
  .github/workflows/dependabot-docs.yml
Labels: github_actions, github / ci / meta

ci: switch dependabot-docs.yml to autofix.yml
  .github/workflows/autofix.yml
  .github/workflows/dependabot-docs.yml
Labels: github_actions, github / ci / meta

chore: clippy --fix
  wire/lib/src/hive/mod.rs
  wire/lib/src/nix.rs
Labels: rust

hooks.nix: enable clippy fix
  nix/hooks.nix
Labels: nix

Revert "hooks.nix: enable clippy fix"
  nix/hooks.nix
Labels: nix

ci: manually induce clippy --fix
  .github/workflows/autofix.yml
Labels: github_actions, github / ci / meta

enable assert_matches feature
  wire/lib/src/hive/mod.rs
  wire/lib/src/lib.rs
Labels: rust

checkpoint, VecDeque and nonelevated
  wire/lib/Cargo.toml
  wire/lib/src/commands/elevated.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/nonelevated.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/nix_log.rs
Labels: rust

drop get_eval_command
  wire/lib/src/nix.rs
Labels: rust

a little bit of cleanup
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/new.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

more cleanup
  Cargo.lock
  wire/lib/Cargo.toml
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/remote.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

adjust needle log levels and message
  wire/lib/src/commands/elevated.rs
Labels: rust

fix small logging bug to do with evlated succeed needle
  wire/lib/src/commands/elevated.rs
Labels: rust

add changelog note
  CHANGELOG.md
Labels: none

more cleanup
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/elevated.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/nonelevated.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/push.rs
Labels: rust

custom tracing_subscriber writer to buffer logs while globber_lock is held
  wire/cli/src/apply.rs
  wire/cli/src/main.rs
  wire/cli/src/tracing_setup.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/elevated.rs
Labels: rust

remove indicatif until logging in suspense is solved & cleanup
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  wire/cli/Cargo.toml
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/lib/Cargo.toml
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/nix.rs
  wire/lib/src/nix_log.rs
Labels: rust

build step: use new command trait
  wire/lib/src/errors.rs
  wire/lib/src/hive/steps/build.rs
Labels: rust

stop sudo prompts from clobbering eachother
  wire/cli/src/apply.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/elevated.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/nonelevated.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/push.rs
Labels: rust

fix bug properly creating command_string in nonelevated commands
  wire/lib/src/commands/nonelevated.rs
Labels: rust

switch node pinging logic to use new command trait
  wire/lib/src/errors.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/ping.rs
Labels: rust

move more stuff to new command running interface
  wire/lib/src/commands/elevated.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/nonelevated.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

evaluate step: use new command trait
  wire/lib/src/hive/steps/evaluate.rs
Labels: rust

remove unused nix feature
  Cargo.toml
Labels: rust

move check_nix_available to start of binary
  wire/cli/src/main.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/nix.rs
Labels: rust

init detached sudo
  Cargo.lock
  Cargo.toml
  wire/lib/Cargo.toml
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/new.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/lib.rs
Labels: rust

more cleanup
  wire/lib/src/commands/elevated.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/nonelevated.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/nix_log.rs
Labels: rust

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"
