Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

fix bug and improve error surfacing of host key failures
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/nix_log.rs
Labels: rust

fix typo in "get_preferred_host"
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/ping.rs
Labels: rust

remove old debugging
  wire/lib/src/commands/noninteractive.rs
Labels: rust

fix typo in get_preferred_host
  wire/lib/src/hive/node.rs
Labels: rust

update tests to account for --ssh-accept-host
  tests/nix/suite/test_keys/default.nix
  tests/nix/suite/test_remote_deploy/default.nix
Labels: nix, tests

use accept-new consistently
  wire/lib/src/hive/node.rs
Labels: rust

fix bug where --non-interactive was inversed
  CHANGELOG.md
  wire/lib/src/commands/mod.rs
Labels: rust

switch switch-to-configuration to raw output mode
  wire/lib/src/hive/steps/activate.rs
Labels: rust

enable non-interactive for wire apply keys test
  tests/nix/suite/test_keys/default.nix
Labels: nix, tests

delay pre-activiation keys until last moment
  wire/lib/src/hive/node.rs
Labels: rust

do not create `./result` links when building locally
  CHANGELOG.md
  wire/lib/src/hive/steps/build.rs
Labels: rust

display footer always
  doc/.vitepress/theme/index.ts
  doc/.vitepress/theme/style.css
Labels: documentation, javascript

fix key tests
  tests/nix/suite/test_keys/default.nix
Labels: nix, tests

make get_elevated_command more readable
  wire/lib/src/commands/mod.rs
Labels: rust

use a fifo to redirect key agent stdin
  Cargo.toml
  wire/key_agent/src/keys.proto
  wire/key_agent/src/main.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

keys: length delimited, base64 encoded & digest verified
  Cargo.lock
  Cargo.toml
  wire/key_agent/Cargo.toml
  wire/key_agent/src/keys.proto
  wire/key_agent/src/main.rs
  wire/lib/Cargo.toml
  wire/lib/src/errors.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

add changelog message
  CHANGELOG.md
Labels: none

keys: length delimited, base64 encoded & digest verified (#294)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  wire/key_agent/Cargo.toml
  wire/key_agent/src/keys.proto
  wire/key_agent/src/main.rs
  wire/lib/Cargo.toml
  wire/lib/src/errors.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

test both --non-interactive and interactive
  tests/nix/suite/test_keys/default.nix
Labels: nix, tests

chore: clippy --fix
  wire/lib/src/nix.rs
Labels: rust

fixup merge bugs
  wire/lib/src/commands/mod.rs
Labels: rust

interactive commands: correctly retain cross-read lines
  CHANGELOG.md
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/interactive_logbuffer.rs
  wire/lib/src/commands/mod.rs
Labels: rust

reject ssh password auth when --non-interactive
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/hive/steps/push.rs
Labels: rust

Revert "chore: clippy --fix"
  wire/lib/src/nix.rs
Labels: rust

flake.lock: Update
  flake.lock
Labels: none

add --ssh-accept-host argument (#273)
  tests/nix/suite/test_keys/default.nix
  tests/nix/suite/test_remote_deploy/default.nix
  wire/cli/src/cli.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix_log.rs
Labels: nix, rust, tests

flake.lock: Update Oct 14th 2025 (#296)
  flake.lock
  flake.nix
  tests/nix/default.nix
Labels: nix, tests

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

fix some eval bugs
  tests/nix/default.nix
Labels: nix, tests

parse ApplyTarget's from stdin
  CHANGELOG.md
  doc/guide/wire.md
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
Labels: docs-page, documentation, rust

improve -h for --on
  wire/cli/src/cli.rs
Labels: rust

add stdin parse test
  tests/nix/default.nix
  tests/nix/suite/test_stdin/default.nix
  tests/nix/suite/test_stdin/hive.nix
Labels: nix, tests

parse ApplyTarget's from stdin (#295)
  CHANGELOG.md
  doc/guide/wire.md
  tests/nix/default.nix
  tests/nix/suite/test_stdin/default.nix
  tests/nix/suite/test_stdin/hive.nix
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
Labels: docs-page, documentation, nix, rust, tests

add `-` as a reserved node name
  runtime/evaluate.nix
Labels: nix

improve non graphical vm
  doc/tutorial/part-one/vm-setup.md
Labels: documentation

add tutorial
  doc/.vitepress/config.ts
  doc/index.md
  doc/snippets/getting-started/cache.nix
  doc/snippets/getting-started/nix.conf
  doc/snippets/tutorial/extra-experimental-features.conf
  doc/snippets/tutorial/extra-experimental-features.nix
  doc/tutorial/basic-hive.md
  doc/tutorial/installation.md
  doc/tutorial/overview.md
  doc/tutorial/repo-setup.md
  doc/tutorial/vm-setup.md
Labels: documentation, javascript, nix

fix deadlinks
  doc/guide/installation.md
  doc/tutorial/overview.md
Labels: docs-page, documentation

squash me
  README.md
  doc/.vitepress/config.ts
  doc/guide/getting-started.md
  doc/guide/magic-rollback.md
  doc/guide/tailscale.md
  doc/guides/apply.md
  doc/guides/flakes.md
  doc/guides/hive-default.md
  doc/guides/installation.md
  doc/guides/keys.md
  doc/guides/parallelism.md
  doc/guides/targeting.md
  doc/guides/wire.md
  doc/index.md
  doc/tutorial/overview.md
  doc/tutorial/part-one/basic-hive.md
  doc/tutorial/part-one/installation.md
  doc/tutorial/part-one/repo-setup.md
  doc/tutorial/part-one/vm-setup.md
  doc/tutorial/part-two/basic-keys.md
  doc/tutorial/part-two/encryption.md
Labels: docs-page, documentation, javascript

update lock
  doc/package.nix
  doc/pnpm-lock.yaml
Labels: documentation, javascript, nix

splt tutorial into parts
  doc/.vitepress/config.ts
  doc/guide/wire.md
  doc/tutorial/overview.md
  doc/tutorial/part-one/basic-hive.md
  doc/tutorial/part-one/installation.md
  doc/tutorial/part-one/repo-setup.md
  doc/tutorial/part-one/vm-setup.md
  doc/tutorial/part-two/basic-keys.md
Labels: docs-page, documentation, javascript

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"
