Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

add benchmarking tool
  bench/.gitignore
  bench/colmena/hive.nix
  bench/default.nix
  bench/key.txt
  bench/run.nix
  bench/vm.nix
  bench/wire/hive.nix
  default.nix
  flake.lock
  flake.nix
Labels: nix

parse nix logs directly
  Cargo.lock
  bench/run.nix
  nix/shells.nix
  wire/lib/Cargo.toml
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/lib.rs
  wire/lib/src/nix_log.rs
Labels: nix, rust

retain error even if system is still pingable after activation
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/steps/activate.rs
Labels: rust

undo commenting out run.nix
  bench/run.nix
Labels: nix

use correct profile on profiling package
  nix/utils.nix
  wire/cli/default.nix
Labels: nix

handle logs as &[u8] for as long as possible
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  nix/shells.nix
  wire/cli/default.nix
  wire/lib/Cargo.toml
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/interactive_logbuffer.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/nix_log.rs
Labels: nix, rust

update to 2024 edition
  Cargo.toml
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
Labels: rust

reduce truncated error logs back to 20
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/errors.rs
Labels: rust

improve please authenticate warning
  wire/lib/src/commands/interactive.rs
Labels: rust

apply more 2024 clippy recommendations
  wire/lib/src/commands/interactive.rs
Labels: rust

evaluate nodes parallel to ping & key
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/evaluate.rs
Labels: rust

brench: 80% of keys pre-activation, 20% post.
  bench/default.nix
Labels: nix

stop recording keys filter
  wire/lib/src/hive/steps/keys.rs
Labels: rust

stop recording keys filter
  wire/lib/src/hive/steps/keys.rs
Labels: rust

evaluate nodes parallel to ping & key
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/evaluate.rs
Labels: rust

brench: 80% of keys pre-activation, 20% post.
  bench/default.nix
Labels: nix

Update README.md
  CHANGELOG.md
Labels: none

give bench/ a readme
  bench/README.md
Labels: none

add bench directory description to readme
  README.md
Labels: none

update feature table & add a speed table
  doc/tutorial/overview.md
Labels: documentation

remove irrelevant ssh key subtesttest
  tests/nix/suite/test_remote_deploy/default.nix
Labels: nix, tests

deduplicate should_apply_locally
  wire/cli/src/apply.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/cleanup.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/hive/steps/push.rs
Labels: rust

disable push on should_apply_locally
  CHANGELOG.md
  wire/lib/src/commands/common.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/steps/push.rs
Labels: rust

stop drilling clobber_lock
  wire/cli/src/apply.rs
  wire/cli/src/main.rs
  wire/cli/src/tracing_setup.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/lib.rs
  wire/lib/src/test_support.rs
Labels: rust

fix prompts not appearing on interactive commands
  wire/lib/src/commands/interactive.rs
  wire/lib/src/errors.rs
Labels: rust

bell terminal when interactive prompt is printed
  CHANGELOG.md
  wire/lib/src/commands/interactive.rs
Labels: rust

prune unused dependencies
  Cargo.lock
  wire/cli/Cargo.toml
  wire/lib/Cargo.toml
Labels: rust

remove debugging println
  wire/lib/src/commands/interactive.rs
Labels: rust

impl non-verbose log formatter
  wire/cli/src/tracing_setup.rs
Labels: rust

bump version to 1.0.0-alpha.0
  Cargo.lock
  Cargo.toml
  doc/package.json
Labels: documentation, javascript, rust

more work
  Cargo.lock
  wire/cli/Cargo.toml
  wire/cli/src/tracing_setup.rs
Labels: rust

more work
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/cli/src/tracing_setup.rs
  wire/lib/src/hive/node.rs
Labels: rust

comments
  wire/cli/src/tracing_setup.rs
Labels: rust

add debug_assertions for execute span metadata
  wire/lib/src/hive/node.rs
Labels: rust

more work
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/cli/src/tracing_setup.rs
  wire/lib/src/hive/node.rs
Labels: rust

add debug_assertions for execute span metadata
  wire/lib/src/hive/node.rs
Labels: rust

more work
  Cargo.lock
  wire/cli/Cargo.toml
  wire/cli/src/tracing_setup.rs
Labels: rust

comments
  wire/cli/src/tracing_setup.rs
Labels: rust

impl non-verbose log formatter
  wire/cli/src/tracing_setup.rs
Labels: rust

add test for handle_rawmode_data
  wire/lib/src/commands/interactive.rs
Labels: rust

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"
