Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"

add `--reboot`
  CHANGELOG.md
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/lib.rs
Labels: rust

update target host for receiver-{second,third}
  tests/nix/suite/test_remote_deploy/hive.nix
Labels: nix, tests

dont change system profile when goal is boot
  wire/lib/src/hive/steps/activate.rs
Labels: rust

try out inheriting testModules
  tests/nix/suite/utils.nix
Labels: nix, tests

Revert "try out inheriting testModules"
  tests/nix/suite/utils.nix
Labels: nix, tests

disable --reboot test for the time being
  tests/nix/suite/test_remote_deploy/default.nix
Labels: nix, tests

remove collecting so in remote_deploy
  tests/nix/suite/test_remote_deploy/default.nix
Labels: nix, tests

test --reboot and wait until node reappears
  tests/nix/suite/test_remote_deploy/default.nix
  tests/nix/suite/test_remote_deploy/hive.nix
Labels: nix, tests

dont try to regain connection to localhost in the case that activation was sucessful
  wire/lib/src/hive/steps/activate.rs
Labels: rust

move changelog to unreleased
  CHANGELOG.md
Labels: none

add an example of how to use keepass to create keys
  doc/guide/keys.md
Labels: docs-page, documentation

update keepass for password input
  doc/guide/keys.md
Labels: docs-page, documentation

remove let_chains as it is merged
  wire/lib/src/lib.rs
Labels: rust

bump hash
  doc/package.nix
Labels: documentation, nix

Docs Page - Flakes (#179)
  doc/.vitepress/config.ts
  doc/guide/flakes.md
  doc/snippets/getting-started/flake-merged.nix
  doc/snippets/getting-started/flake.nix
Labels: docs-page, documentation, javascript, nix

add minimal permissions to some jobs
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

add minimal permissions to some jobs (#210)
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

add apply page to docs
  doc/.vitepress/config.ts
  doc/guide/apply.md
  doc/guide/getting-started.md
  doc/guide/targeting.md
  doc/package.json
  doc/package.nix
  doc/pnpm-lock.yaml
Labels: docs-page, documentation, javascript, nix

fix typo in test_remote_deploy
  tests/nix/suite/test_remote_deploy/default.nix
Labels: nix, tests

fix using cat identity instead of readlink -f current-system
  tests/nix/suite/test_remote_deploy/default.nix
Labels: nix, tests

comment out all uses of rebooting test vms
  tests/nix/suite/test_remote_deploy/default.nix
Labels: nix, tests

add `--reboot` and wait until node comes back before erroring node out (#188)
  CHANGELOG.md
  tests/nix/suite/test_remote_deploy/default.nix
  tests/nix/suite/test_remote_deploy/hive.nix
  wire/cli/src/apply.rs
  wire/cli/src/cli.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/ping.rs
  wire/lib/src/lib.rs
Labels: nix, rust, tests

bump hash
  doc/package.nix
Labels: documentation, nix

bump lock
  doc/package.nix
  doc/pnpm-lock.yaml
Labels: documentation, javascript, nix

trace Talkative and Chatty
  CHANGELOG.md
  wire/lib/src/nix_log.rs
Labels: rust

bump hash
  doc/package.nix
Labels: documentation, nix

chore: pnpm upgrade
  doc/pnpm-lock.yaml
Labels: documentation, javascript

chore: cargo update
  Cargo.lock
Labels: rust

replace { system } with { localSystem }
  doc/snippets/getting-started/flake.nix
  tests/nix/suite/test_keys/hive.nix
  tests/nix/suite/test_local_deploy/hive.nix
  tests/nix/suite/test_remote_deploy/hive.nix
  tests/rust/flake_hive/flake.nix
Labels: documentation, nix, tests

add hydraJobs, jobset.nix & spec.json
  flake.nix
  jobsets.nix
  spec.json
  wire/cli/src/main.rs
Labels: nix, rust

reduce keepnr
  jobsets.nix
  spec.json
Labels: nix

equalize schedulingshares
  jobsets.nix
Labels: nix

add tests and select packages in hydraJobs
  flake.nix
Labels: nix

include wire-small in hydraJobs
  flake.nix
Labels: nix

deduplicate docs package in hydraJobs
  flake.nix
Labels: nix

remove unneeded actions now we have wire
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: github_actions, github / ci / meta

chore: update docs nix hash
  doc/package.nix
Labels: documentation, nix

add `--reboot`
  CHANGELOG.md
Labels: none

try out inheriting testModules
  tests/nix/suite/utils.nix
Labels: nix, tests

Revert "try out inheriting testModules"
  tests/nix/suite/utils.nix
Labels: nix, tests
