Repository mrshmllow/wire, changes with the labels that .github/labeler.yml gives for each.
All labels: docs-page, documentation, github_actions, github / ci / meta, javascript, nix, rust, tests

.github/labeler.yml:

docs-page:
  - changed-files:
      - any-glob-to-any-file:
          - doc/guide/**
          - doc/reference/**

documentation:
  - changed-files:
      - any-glob-to-any-file: doc/**

github_actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

"github / ci / meta":
  - changed-files:
      - any-glob-to-any-file: .github/**

javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"
          - "**/*.js"
          - "**/package.json"
          - "**/pnpm-lock.yaml"

nix:
  - changed-files:
      - any-glob-to-any-file: "**/*.nix"

rust:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.rs"
          - "**/Cargo.toml"
          - "**/Cargo.lock"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

release:
  - base-branch: "main"

add test for Target
  wire/lib/src/hive/node.rs
Labels: rust

add test for force_always_local
  tests/rust/non_trivial_hive/hive.nix
  wire/lib/src/hive/mod.rs
Labels: nix, rust, tests

add test for create_ssh_opts & _args
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/cleanup.rs
  wire/lib/src/test_support.rs
Labels: rust

ignore mutants
  .gitignore
Labels: none

work on per-cargo-test virtual machine
  flake.nix
  nix/shells.nix
  nix/tests.nix
  tests/tests.nix
Labels: nix, tests

add test for node.ping
  nix/shells.nix
  tests/tests.nix
  wire/lib/src/commands/common.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/test_support.rs
Labels: nix, rust, tests

export devShell's in hydraJobs
  flake.nix
Labels: nix

drop perf and hyperfine from shell
  nix/shells.nix
Labels: nix

update `show` command to be nicer
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  wire/cli/Cargo.toml
  wire/cli/src/main.rs
  wire/lib/Cargo.toml
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/keys.rs
Labels: rust

fix some bugs in the tutorial
  doc/tutorial/part-one/basic-hive.md
  doc/tutorial/part-one/repo-setup.md
  doc/tutorial/part-one/vm-setup.md
Labels: documentation

enable workspace level clippy
  Cargo.toml
  wire/cli/Cargo.toml
  wire/cli/src/main.rs
  wire/cli/src/tracing_setup.rs
  wire/lib/Cargo.toml
  wire/lib/build.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/interactive_logbuffer.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/lib.rs
Labels: rust

add funding.yml
  .github/FUNDING.yml
Labels: github / ci / meta

update home page
  doc/index.md
Labels: documentation

be more consistent about stylization
  CHANGELOG.md
  doc/guides/apply.md
  doc/guides/keys.md
  doc/guides/parallelism.md
  doc/guides/targeting.md
  doc/reference/meta.md
  doc/tutorial/overview.md
  doc/tutorial/part-one/basic-hive.md
  doc/tutorial/part-one/nix-setup.md
  doc/tutorial/part-one/repo-setup.md
  doc/tutorial/part-two/basic-keys.md
  doc/tutorial/part-two/encryption.md
  wire/lib/src/hive/steps/keys.rs
Labels: docs-page, documentation, rust

use a semaphore to guard clobber
  wire/cli/src/tracing_setup.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/keys.rs
  wire/lib/src/lib.rs
Labels: rust

use more tokio primatives instead of sync ones
  wire/lib/src/commands/interactive.rs
Labels: rust

ping with raw ssh
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/cleanup.rs
Labels: rust

cleanup more
  wire/cli/src/cli.rs
  wire/cli/src/main.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/lib.rs
Labels: rust

only use noninteractive when --non-interactive
  wire/cli/src/main.rs
  wire/lib/src/commands/mod.rs
Labels: rust

fail on no runtime env
  tests/nix/default.nix
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/cleanup.rs
Labels: nix, rust, tests

ping with ssh raw (#329)
  tests/nix/default.nix
  wire/cli/src/cli.rs
  wire/lib/src/commands/common.rs
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/build.rs
  wire/lib/src/hive/steps/cleanup.rs
  wire/lib/src/lib.rs
Labels: nix, rust, tests

use dev mode for vm tests
  tests/nix/default.nix
Labels: nix, tests

build locally when deploying locally
  CHANGELOG.md
  wire/lib/src/hive/steps/build.rs
Labels: rust

fix not using wire-small-dev
  tests/nix/test-opts.nix
Labels: nix, tests

add garnix.yaml
  garnix.yaml
Labels: none

only run garnix on main
  garnix.yaml
Labels: none

wrap garnix yaml in quotes
  garnix.yaml
Labels: none

exclude checks.pre-commit
  garnix.yaml
Labels: none

garnix: exclude all checks
  garnix.yaml
Labels: none

adjust how nixos module is exposed
  flake.nix
  runtime/default.nix
Labels: nix

limit ssh users to non-interactive auth
  wire/lib/src/hive/node.rs
Labels: rust

fix ssh opts test
  wire/lib/src/hive/node.rs
Labels: rust

document which users can be used
  CHANGELOG.md
  doc/.vitepress/config.ts
  doc/guides/non-root-user.md
  runtime/module/options.nix
Labels: documentation, javascript, nix

garnix golf
  garnix.yaml
Labels: none

limit and document valid deployment users (#335)
  CHANGELOG.md
  doc/.vitepress/config.ts
  doc/guides/non-root-user.md
  flake.nix
  runtime/default.nix
  runtime/module/options.nix
  wire/lib/src/hive/node.rs
Labels: documentation, javascript, nix, rust

add missing colmena options
  runtime/evaluate.nix
  runtime/module/options.nix
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
Labels: nix, rust

add the two missing colmena options (#338)
  runtime/evaluate.nix
  runtime/module/options.nix
  wire/lib/src/commands/interactive.rs
  wire/lib/src/commands/mod.rs
  wire/lib/src/commands/noninteractive.rs
  wire/lib/src/errors.rs
  wire/lib/src/hive/mod.rs
  wire/lib/src/hive/node.rs
  wire/lib/src/hive/steps/activate.rs
  wire/lib/src/hive/steps/keys.rs
Labels: nix, rust

drop dependabot
  .github/dependabot.yml
Labels: github / ci / meta

update links & add doc for privilegeEscalationCommand
  doc/guides/non-root-user.md
  doc/index.md
Labels: documentation

fix makeHive wrong flake output in example
  doc/guides/flakes/overview.md
Labels: documentation
